.actionContainer.grid_15
	.actionHeader
		%h2.grid_3.alpha 
			= @family.lang_family.first.name
		%p.messageBoard.grid_11 &nbsp;
		%p.actionTriggers.grid_1.omega 
			=link_to "excluir", admin_family_path(@family), :confirm => 'Tem certeza que deseja Excluir a Familia?', :method => :delete

		
	%ul.actionMenu
		%li 
			= link_to "info", edit_admin_family_path(@family)

	.actionContent

		.form-container 
			.form-sub-container.grid_3.alpha

				.form-content
					.grid_3.alpha <strong>idioma</strong>
					
				.form-content
					.grid_3.alpha <strong>titulo</strong>
					
				.form-content
					.grid_3.alpha <strong>descricao</strong>
					
					
			-@family.lang_family.each do |lang|
				.form-sub-container.grid_3.alpha

					.form-content
						.grid_3.alpha 
							= lang.language.name

					.form-content
						.grid_3.alpha 
							= lang.name

					.form-content
						.grid_3.alpha 
							= simple_format(lang.description)
