.actionContainer.grid_15
	.actionHeader
		%h2.grid_3.alpha 
			= @prize.lang_prize.first.name
		%p.messageBoard.grid_11 &nbsp;
		%p.actionTriggers.grid_1.omega
			=link_to "excluir", admin_prize_path(@prize), :confirm => 'Tem certeza que deseja Excluir o Premio?', :method => :delete

		
	%ul.actionMenu
		%li 
			= link_to "info", edit_admin_prize_path(@prize)
		%li 
			= link_to "imagens", admin_images_path(:prize, @prize, 'prize')

	.actionContent

		.form-container 
			.form-sub-container.grid_3.alpha
					
				.form-content
					.grid_3.alpha <strong>idioma</strong>
					
				.form-content
					.grid_3.alpha <strong>nome</strong>
				
				.form-content
					.grid_3.alpha <strong>descricao</strong>
					
					
			-@prize.lang_prize.each do |lang_prize|
				.form-sub-container.grid_3
		
					.form-content
						.grid_3 
							= lang_prize.language.name
					
					.form-content
						.grid_3
							= lang_prize.name
					
					.form-content
						.grid_3
							= simple_format(lang_prize.description)
					
