<% title "Slideshow" %>

<table>
  <tr>
    <th>Name</th>
  </tr>
  <% for slideshow in @slideshow %>
    <tr>
      <td><%=h slideshow.name %></td>
      <td><%= link_to "Show", slideshow %></td>
      <td><%= link_to "Edit", edit_slideshow_path(slideshow) %></td>
      <td><%= link_to "Destroy", slideshow, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Slideshow", new_slideshow_path %></p>
