.wrapper
	%script{:type => "text/javascript", :charset => "utf-8"}
		gallery_start();
		
	.container_6
		.top-bar
			.grid_2
				= link_to image_tag("ico-close-white.png"), session[:back_to_parent], :class => "dissolve"
			.grid_2 &nbsp
			.grid_2
				= image_tag "lumini_logo.png"
	
		.swipe_trigger
			= image_tag @slideshow.img.url(:grid_6), :class => "touch"

		.bottom-bar{:style=>"padding-top: 12px;"}
			.grid_1
				= link_to image_tag("ico-prev.png"), slideshow_change_image_path(@slideshow.imageable_type, @slideshow.image_type.name, params[:category_id], @slideshow, 'previous'), :class => 'prev'
				
			.grid_4{:style=>"text-align: center"}
				= link_to image_tag ("ico-thumbs.png"), slideshows_path(@slideshow.imageable_type, @slideshow.image_type.name, params[:category_id]), :class => "dissolve"
				
			.grid_1{:style => "text-align: right;"}
				= link_to image_tag("ico-next.png"), slideshow_change_image_path(@slideshow.imageable_type, @slideshow.image_type.name, params[:category_id], @slideshow, 'next'), :class => 'next'

