.container_19
	.grid_4
		&nbsp;
	.grid_15
		.grid_7.alpha{:style => 'width: 330px; padding: 0px 6px;'}
			%p.rule-two{:style => 'margin-top: 16px;margin-bottom: 16px;'}
				composicao da capa
			#cover_preview.sortable{:style => 'background: #464646; overflow: hidden; margin:0;'}
				&nbsp
				-@cover.cover_element.each do |element|
					.product{:class => "#{element.grid_size}",:id => "cover_product"}
						%p{:class => "rule-two"}
							=element.product.lang_product.first.name
						= image_tag(element.product.images.by_cover.first.img.url(element.grid_size))
						=hidden_field(:product_id, element.product_id, :name => "product_id", :value => element.product_id)
						=hidden_field(:size,element.grid_size, :name => "size", :value => element.grid_size)

		.grid_8.omega
		
			%p.rule-two{:style => 'margin-top: 16px;margin-bottom: 16px;'}
				publicacao da capa
			.form-container{:style => 'border: none;', :id => 'public_date_factory'}
				-semantic_fields_for @cover do |cover|
				-cover.inputs
					.form-sub-container.grid_3.alpha
						data de publicacao
					.form-sub-container.grid_5.omega{:style => "list-style-type:none;"}
						= cover.input :public_date, :as => :string, :label => false
						= cover.input :id , :as => :hidden
					
					.form-sub-container.grid_3.alpha
						status da capa
					.form-sub-container.grid_5.omega{:style => "list-style-type:none;"}
						= cover.input :status, :as => :radio, :label => false, :collection => [["publicado", true], ["rascunho", false]]
		
			%p.rule-two{:style => 'margin-top: 16px;margin-bottom: 16px;'}
				solucao da capa
			.form-container{:style => 'border: none;', :id => 'solution_factory'}
				.form-sub-container.grid_3.alpha
					solucao
				.form-sub-container.grid_5.omega{:style => 'list-style-type:none;'}
					-semantic_fields_for @cover do |solution|
					-solution.inputs
						=solution.input :solution, :label => false, :include_blank => false
									
			%p.rule-two{:style => 'margin-top: 16px;margin-bottom: 16px;'}
				fábrica de produtos
			.form-container{:style => 'border: none;', :id => 'product_factory'}
				.form-sub-container.grid_3.alpha
					produto
				.form-sub-container.grid_5.omega
					%select{:name => 'product_id'}
						- @products.each do |product|
							%option{:value => product.id}
								= product.name

				.form-sub-container.grid_3.alpha
					destaque
				.form-sub-container.grid_5.omega
					%select{:name => 'size'}
						%option{:value => 'grid_2'}
							2 colunas
						%option{:value => 'grid_3'}
							3 colunas
						%option{:value => 'grid_6'}
							6 colunas
										
				.form-sub-container.grid_8.alpha.omega{:style => 'margin-top: 16px;margin-bottom: 16px;'}
					%a.add_to_preview{:href => 'javascript://'}
						ADICIONAR
					
					- if @cover.new_record?	
						%a.form_submit_save{:href => 'javascript://'}
							SALVAR
					- else
						%a.form_submit_update{:href => 'javascript://'}
							ATUALIZAR
			%p.rule-two{:style => 'margin-top: 16px;margin-bottom: 16px;'}
				produtos fabricados
			#product_stock.sortable
				&nbsp;