.wrapper
	= render :partial => "layouts/top_menu"
	
	.container_6
		-@stores.each do |store|
			.submenu.alpha.omega		 
				%p.title-three 
					= store.title
				%p
					= store.street
					%br
						= store.neighborhood
					%br
						= store.postal_code + " " + store.city + " " + store.state
				%p
					= store.telephone
				%p
					= store.email
				%p
					= store.operation
