.container_6
	.submenu
		.grid_4 destaques

	%p.clear
	.grid_3.product
		%p.rule-two bossa
		= image_tag "../uploads/front/grid3_bossa.jpg"

	.grid_3.product
		%p.rule-two bauhaus 90
		= image_tag "../uploads/front/grid3_bauhaus_90.jpg"

	%p.clear
	.grid_2.product
		%p.rule-two piccolo R
		= image_tag "../uploads/front/grid2_piccoloR.jpg"

	.grid_2.product
		%p.rule-two lift
		= image_tag "../uploads/front/grid2_lift.jpg"

	.grid_2.product
		%p.rule-two kube
		= image_tag "../uploads/front/grid2_kube.jpg"
		
	%p.clear
	.solutions
		%p.grid_6.rule-one soluções
		%p.clear
		%p.grid_4.rule-two Texto bem curto, apenas dizendo que além dos produtos a Lumini também faz ótimas soluções e projetos para necessidades específicas dos clientes, e indicando alguma forma de contato
		%p.grid_2.rule-two.go_forward fotografias

		%p.clear
		.footer
			%p.grid_6.rule-two
				-@languages.each do |lang| 
					= link_to lang.name, language_path(lang)
					|
		