.wrapper
	.toolbar
		.container_6
			.header.without_link
				.grid_2
					= link_to image_tag("ico-close-white.png"), session[:back_to_parent], :class => "dissolve"
				.grid_2 &nbsp
				.grid_2
					= image_tag "lumini_logo.png"
	%p.clear

	.container_6
		.designer
			.grid_6.title-one
				%strong
					= @designer.name
				%br
					= @designer.nation
			.grid_4 
				%p
					= @designer.bio
			.grid_2
				= image_tag (@designer.images.by_cover.first.nil? ? @designer.images.first.img.url(:grid_2) : @designer.images.by_cover.first.img.url(:grid_2))