.wrapper
	.toolbar
		.container_6
			.header.without_link
				.grid_2
					= link_to image_tag("ico-close-white.png"), product_path(@designer.product.id), :class => "dissolve"
				.grid_2 &nbsp
				.grid_2
					= image_tag "lumini_logo.png"
	%p.clear
	
	.container_6
		.designer
			%p.grid_6.title 
				= @designer.name
			%p.clear
			%p.grid_4.subtitle 
				= @designer.bio
			%p.grid_4.subtitle
				nasc.:
				= @designer.birthdate.strftime("%d/%m/%y")
			-unless @designer.deathdate.nil?
				%p.grid_4.subtitle
					rip:
					= @designer.deathdate.strftime("%d/%m/%y")
			%p.grid_2.subtitle.photo 
				= image_tag (@designer.images.by_cover.first.nil? ? @designer.images.first.img.url(:grid_2) : @designer.images.by_cover.first.img.url(:grid_2))