.wrapper
	= render :partial => "layouts/top_menu_without_link"
	%p.clear
	
	.container_6		
	
		%p.clear			
		.grid_2.product
			= link_to image_tag ("../uploads/front/grid2_lift.jpg"), galery_path(1)

		.grid_2.product
			= link_to image_tag ("../uploads/front/grid2_lift.jpg"), galery_path(1)

		.grid_2.product
			= link_to image_tag ("../uploads/front/grid2_lift.jpg"), galery_path(1)
					
		.grid_2.product
			= link_to image_tag ("../uploads/front/grid2_lift.jpg"), galery_path(1)

		.grid_2.product
			= link_to image_tag ("../uploads/front/grid2_lift.jpg"), galery_path(1)

		.grid_2.product
			= link_to image_tag ("../uploads/front/grid2_lift.jpg"), galery_path(1)
			
		.grid_2.product
			= link_to image_tag ("../uploads/front/grid2_lift.jpg"), galery_path(1)

		.grid_2.product
			= link_to image_tag ("../uploads/front/grid2_lift.jpg"), galery_path(1)

		.grid_2.product
			= link_to image_tag ("../uploads/front/grid2_lift.jpg"), galery_path(1)