.wrapper
	%script{:type => "text/javascript", :charset => "utf-8"}
		gallery_start();
		
	.container_6{:style=>"width: 100%;"}
		.top-bar
			.grid_2
				= link_to image_tag("ico-close-white.png"), galeries_path(@image.imageable_type.downcase, @image.image_type.name, @image.imageable_id), :class => "dissolve"
			.grid_2 &nbsp
			.grid_2
				= image_tag "lumini_logo.png"
	
	.swipe_trigger
		= image_tag @image.img.url(:full_screen), :class => "touch"

	.container_6{:style=>"width: 100%;"}
		.bottom-bar
			.grid_1
				= link_to image_tag ("ico-prev.png"), change_image_path(@image.imageable_id, @image.imageable_type.downcase, @image.image_type.name, @image, 'previous'), :class => 'prev'
			.grid_4{:style=>"text-align: center"}
				= link_to image_tag ("ico-thumbs.png"), galeries_path(@image.imageable_type.downcase, @image.image_type.name, @image.imageable_id), :class => "dissolve"
			.grid_1{:style => "text-align: right;"}
				= link_to image_tag ("ico-next.png"), change_image_path(@image.imageable_id, @image.imageable_type.downcase, @image.image_type.name, @image, 'next'), :class => 'next'
