.wrapper
	= render :partial => "layouts/top_menu"
	.container_6
		.submenu
			%p.grid_2
				=@families.first.product_manufacture
			%p.grid_2 &nbsp;
			%p.grid_2 
				= t "familia.slideshow"
		
			%p.clear
			%ul.with_images
				-@families.each do |family|
					%li.no_link= family.name
					-@products.by_family(family.id).active.each do |item|
						%li
							.grid_1.alpha
								= link_to image_tag (item.images.second.nil? ? item.images.first.img.url(:grid_1) : item.images.second.img.url(:grid_1)) , product_path(item)
							.grid_5.rule-two.omega
								= link_to item.name, product_path(item)
