.actionContainer.grid_15
	.actionHeader
		%h2.grid_3.alpha 
			= @designer.name
		%p.messageBoard.grid_9 &nbsp;

		
	%ul.actionMenu
		%li 
			= link_to "info", edit_admin_designer_path(@designer)

	.actionContent

		.form-container 
			.form-sub-container.grid_3.alpha
					
				.form-content
					.grid_3.alpha.title
						%strong nome
					
				.form-content
					.grid_3.alpha.title
						%strong data nascimento
				
				.form-content
					.grid_3.alpha.title
						%strong data óbito
					

			.form-sub-container.grid_3
	
				.form-content
					.grid_3.alpha.title
						=  @designer.name
				
				.form-content
					.grid_3.alpha.title
						=  @designer.birthdate.strftime("%d/%m/%y") unless @designer.birthdate == nil
				
				.form-content
					.grid_3.alpha.title
						=  @designer.deathdate.strftime("%d/%m/%y") unless @designer.deathdate == nil

						
		.form-container 
			.form-sub-container.grid_3.alpha

				.form-content
					.grid_3.alpha.description
						%strong biografia
					
				.form-content
					.grid_3.alpha.title
						%strong país de origem
					
					
			-@designer.lang_designer.each do |lang|
			
				.form-sub-container.grid_3.alpha

					.form-content
						.grid_3.alpha.description
							= lang.biography
							
					.form-content
						.grid_3.alpha.title
							= lang.nacionality 

