.actionContainer.grid_15
	.actionHeader
		%h2.grid_3.alpha 
			= @product.new_record? ? "criar novo produto" : @product.lang_product.first.name
		%p.messageBoard.grid_9 &nbsp;
		%p.actionTriggers.grid_3.omega 
			
			=link_to "cancelar /",  @product.new_record? ? admin_path : admin_product_path(@product)
			=link_to "salvar","javascript://" ,:class => "product_save_admin"
			=link_to "/ excluir", admin_product_path(@product), :confirm => 'Tem certeza que deseja Excluir o Produto?', :method => :delete unless @product.new_record?
		
	%ul.actionMenu
		%li
			%strong
			= link_to "info", @product.new_record? ? new_admin_product_path : edit_admin_product_path(@product)
		%li 
			= link_to "fotografias", show_images_path(@product, 'fotografia') unless @product.new_record? 
		%li 
			= link_to "desenhos", show_images_path(@product, 'desenho') unless @product.new_record? 

	.actionContent
		-semantic_form_for @product, :url => @product.new_record?  ? admin_products_path : admin_product_path(@product) do |form|
			.form-container
				.form-sub-container.grid_3.alpha
					.form-content
						.grid_3.alpha.add_new_language 
							=link_to "+ novo idioma","#", :onclick => "add_new_language()"
						
							.form-content
								.grid_3.alpha <strong>título</strong>
						
							.form-content
								.grid_3.alpha <strong>descrição</strong>
					
							.form-content
								.grid_3.alpha <strong>dados técnicos</strong>
				
				#language_product
					= render :partial => 'add_new_language', :collection => @product.lang_product , :as => :lang_product

			.form-container 							
				.form-content
					.grid_3.alpha <strong>status</strong>
					.grid_6 
						=form.input :status, :label => false, :as => :radio, :collection => [["publicado", true], ["rascunho", false]]
					
		
			.form-container 
				/ Agrupamento de campos belongs_to
				.form-content
					.grid_3.alpha <strong>fabricante</strong>
					.grid_3
						=form.inputs :manufacture
				.form-content
					.grid_3.alpha <strong>categoria</strong>
					.grid_3
						=form.inputs :category
				.form-content
					.grid_3.alpha <strong>família</strong>
					.grid_3
						=form.inputs :family

			#prize_product
				.form-container
					#product_prize
						= render :partial => 'add_new_prize', :collection => @product.product_prize, :as => :product_prize
					=link_to "+ novo premio", "#" , :onclick => "add_new_prize()"


			.form-container 
				.form-content
					.grid_3.alpha <strong>designer</strong>
					.grid_3
						=form.inputs :designer

					
					
					
					
					
					
					
					
