.actionContainer.grid_15
	.actionHeader
		%h2.grid_3.alpha 
			= @product.lang_product.first.name
		%p.messageBoard.grid_9 &nbsp;

		
	%ul.actionMenu
		%li 
			= link_to "info", edit_admin_product_path(@product)
		%li 
			= link_to "fotografias", admin_images_path(:product, @product, 'fotografia')
		%li 
			= link_to "desenhos", admin_images_path(:product, @product, 'desenho')

	.actionContent

		.form-container 
			.form-sub-container.grid_3.alpha
					
				.form-content
					.grid_3.alpha <strong>titulo</strong>
					
				.form-content
					.grid_3.alpha <strong>descrição</strong>
				
				.form-content
					.grid_3.alpha <strong>dados técnicos</strong>
					
				.form-content
					.grid_3.alpha &nbsp
					
			-@product.lang_product.each do |lang_product|
				.form-sub-container.grid_3
		
					.form-content
						.grid_3 
							= lang_product.language.name
					
					.form-content
						.grid_3
							= lang_product.name
					
					.form-content
						.grid_3
							= lang_product.description
					
					.form-content
						.grid_3
							= lang_product.tech_description
			
		.form-container 							
			.form-content
				.grid_3.alpha <strong>status</strong>
				.grid_3
					= @product.status == true ? "Publicado" : "Rascunho"
		
	
		.form-container 
			/ Agrupamento de campos belongs_to
			.form-content
				.grid_3.alpha <strong>fabricante</strong>
				.grid_3
					=@product.manufacture.lang_manufacture.first.name
					
			.form-content
				.grid_3.alpha <strong>categoria</strong>
				.grid_3
					=@product.category.lang_category.first.name

			.form-content
				.grid_3.alpha <strong>família</strong>
				.grid_3
					=@product.family.lang_family.first.name

		/.form-container 
		/	/ Agrupamento de campos belongs_to (Não relacionados ao produto em si (Não depende para existir))
		/	.form-content
		/		.grid_3.alpha prêmios
		/		.grid_3
		/			= form.add_associated_link "+ prize", :prize, :partial => 'prizes'
		/		.grid_3.omega
		/			= form.render_associated_form :prize, :partial => 'prizes'

		.form-container 
			.form-content
				.grid_3.alpha <strong>designer</strong>
				.grid_3
					=@product.designer.name

					
					
					
					
					
