.actionContainer.grid_15
	.actionHeader
		%h2.grid_3.alpha 
			= @solution.lang_solution.first.name
		%p.messageBoard.grid_11 &nbsp;
		%p.actionTriggers.grid_1.omega 
			=link_to "excluir", admin_solution_path(@solution), :confirm => 'Tem certeza que deseja Excluir a Solucao?', :method => :delete

		
	%ul.actionMenu
		%li 
			= link_to "info", edit_admin_solution_path(@solution)
		%li 
			= link_to "imagens", admin_images_path(:solution, @solution, 'solution')

	.actionContent

		.form-container 
			.form-sub-container.grid_3.alpha
					
				.form-content
					.grid_3.alpha <strong>idioma</strong>

				.form-content
					.grid_3.alpha <strong>nome</strong>
					
				.form-content
					.grid_3.alpha <strong>descricao</strong>
					
					
			-@solution.lang_solution.each do |lang|
				.form-sub-container.grid_3.alpha

					.form-content
						.grid_3.alpha 
							= lang.language.name

					.form-content
						.grid_3.alpha 
							= lang.name

					.form-content
						.grid_3.alpha 
							= lang.description