.actionContainer.grid_15
	.actionHeader
		%h2.grid_3.alpha
			nome do produto
		%p.messageBoard.grid_9 &nbsp;

	%ul.actionMenu
		%li 
			= link_to "info", :back
		%li 
			= link_to "fotografias", 	show_images_path(@image.product_id, 'fotografia')
		%li 
			= link_to "desenhos", 		show_images_path(@image.product_id, 'desenho' )


	-semantic_form_for @image, :url => admin_product_images_path , :html => {:multipart => true} do |form|
		.actionContent
			.form-container 							
				.form-content
					.grid_3.alpha 
						%strong
							= request.request_uri.reverse[0, (request.request_uri.reverse.index'/')].reverse
					.grid_12.omega
						%ul.with_images
							%li
								.grid_1.alpha
									=image_tag "noimg_grid1.png"
								.grid_11.omega
									.grid_8.alpha
										=form.input :img, :as => :file, :label => ""
										=form.input :product_id, :as => :hidden
										=form.input :image_type, :as => :select, :include_blank => false, :collection => ImageType.find_by_name("#{request.request_uri.reverse[0, (request.request_uri.reverse.index'/')].reverse}").to_a
									.grid_3.omega
										=form.commit_button
							%li
								.grid_1.alpha
									=image_tag "../uploads/images/54/grid_1.jpg"
								.grid_11.rule-two.omega
									.grid_2.alpha
										45x45
										<br />20kb
									.grid_2
										96x96
										<br />37kb
									.grid_2
										144x147
										<br />52kb
									.grid_2
										144x147
										<br />52kb
									.grid_2
										original
										<br />1540kb
									.grid_1.omega
										[/] [&nbsp;] [x]
							%li	
								.grid_1.alpha
									=image_tag "../uploads/images/54/grid_1.jpg"
								.grid_11.rule-two.omega
									.grid_2.alpha
										45x45
										<br />20kb
									.grid_2
										96x96
										<br />37kb
									.grid_2
										144x147
										<br />52kb
									.grid_2
										144x147
										<br />52kb
									.grid_2
										original
										<br />1540kb
									.grid_1.omega
										[/] [&nbsp;] [x]
							%li	
								.grid_1.alpha
									=image_tag "../uploads/images/54/grid_1.jpg"
								.grid_11.rule-two.omega
									.grid_2.alpha
										45x45
										<br />20kb
									.grid_2
										96x96
										<br />37kb
									.grid_2
										144x147
										<br />52kb
									.grid_2
										144x147
										<br />52kb
									.grid_2
										original
										<br />1540kb
									.grid_1.omega
										[/] [&nbsp;] [x]