.wrapper
	= render :partial => "layouts/top_menu_without_link"
	
	.container_6
		.solutions
			%p.grid_6.title if design award - alemanha
			%p.clear
			%p.grid_4.subtitle Descrição do prêmio descrição do prêmio descrição do prêmio descrição do prêmio descrição do prêmio descrição do prêmio descrição do prêmio descrição do prêmio descrição do prêmio descrição do prêmio descrição do prêmio descrição do prêmio 
			%p.grid_2.subtitle.photo 
				= image_tag "../uploads/prizes/if.png"
				
				
		%p.clear
		%ul.with_images
			%li
				.grid_1.alpha
					= image_tag "../uploads/front/grid1_lift.jpg"
				.grid_5.rule-two.omega
					= link_to "lift 2009", "#"

			%li
				.grid_1.alpha
					= image_tag "../uploads/front/grid1_bauhaus.jpg"
				.grid_5.rule-two.omega
					= link_to "bauhaus 2006", "#"
		
			%li
				.grid_1.alpha
					= image_tag "../uploads/front/grid1_bossa.jpg"
				.grid_5.rule-two.omega
					= link_to "bossa 2005", "#"
		
			%li
				.grid_1.alpha
					= image_tag "../uploads/front/grid1_kube.jpg"
				.grid_5.rule-two.omega
					= link_to "kube 2004", "#"
				
			%li
				.grid_1.alpha
					= image_tag "../uploads/front/grid1_piccoloR.jpg"
				.grid_5.rule-two.omega
					= link_to "piccoloR 2002", "#"		