.wrapper
	.toolbar
		.container_6
			.header.without_link
				.grid_2
					= link_to image_tag("ico-close-white.png"), session[:back_to_parent], :class => "dissolve"
				.grid_2 &nbsp
				.grid_2
					= image_tag "lumini_logo.png"
				.grid_2
					= link_to image_tag("lumini_logo.png",:border =>0), home_index_url, :class => "lumini_logo"
	%p.clear
	
	.container_6
		.grid_6.title-one
			%strong
				=@prize.name
		%p.clear
		
		.grid_4
			%p
				= @prize.description 
		.grid_2
			= image_tag (@prize.images.by_cover.first.nil? ? @prize.images.first.img.url(:grid_2) : @prize.images.by_cover.first.img.url(:grid_2))
		%p.clear
		
		%ul.with_images{:style => "margin-top: 18px"}
			-@product_prizes.each do |product|
				%li
					.grid_1.alpha
						= link_to image_tag(product.images.by_cover.first.nil? ? product.images.first.img(:grid_1) : product.images.by_cover.first.img(:grid_1))
					.grid_5.rule-two.omega
						= link_to product.name + " "+ product.year.to_s,  product_path(product)
