.wrapper
	= render :partial => "layouts/top_menu_without_link"
	
	.container_6
		.solutions
			%p.grid_6.title 
				=@prize.lang_prize.first.name
			%p.clear
			%p.grid_4.subtitle 
				= @prize.lang_prize.first.description 
				
			%p.grid_2.subtitle.photo 
				= image_tag (@prize.images.second.nil? ? @prize.images.first.img.url(:grid_2) : @prize.images.second.img.url(:grid_2))
				
		%p.clear
		%ul.with_images
			-@product_prizes.each do |prize|
				%li
					.grid_1.alpha
						= image_tag  (prize.product_prize.first.product.images.second.nil? ? prize.product_prize.first.product.images.first.img(:grid_1) : prize.product_prize.first.product.images.second.img(:grid_1))
					.grid_5.rule-two.omega
						= link_to prize.product_prize.first.product.lang_product.first.name + " "+ prize.product_prize.first.year.to_s,  product_path(prize.product_prize.first.product_id)
