.wrapper
	= render :partial => "layouts/top_menu_without_link"
	
	.container_6
		.solutions
			%p.grid_6.title 
				=@prize.name
			%p.clear
			%p.grid_4.subtitle 
				= @prize.description 
				
			%p.grid_2.subtitle.photo 
				= image_tag (@prize.images.second.nil? ? @prize.images.first.img.url(:grid_2) : @prize.images.second.img.url(:grid_2))
				
		%p.clear
		
		%ul.with_images
			-@product_prizes.each do |product|
				%li
					.grid_1.alpha
						= link_to image_tag(product.images.second.nil? ? product.images.first.img(:grid_1) : product.images.second.img(:grid_1))
					.grid_5.rule-two.omega
						= link_to product.name + " "+ product.year.to_s,  product_path(product)
