<% title "Images" %>

<table>
  <tr>
    <th>Img</th>
    <th>Product</th>
  </tr>
  <% for image in @images %>
    <tr>
      <td><%=h image.img %></td>
      <td><%=h image.product %></td>
      <td><%= link_to "Show", image %></td>
      <td><%= link_to "Edit", edit_image_path(image) %></td>
      <td><%= link_to "Destroy", image, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Image", new_image_path %></p>
