<% title "Image" %>

<p>
  <strong>Img:</strong>
  <%=h @image.img %>
</p>
<p>
  <strong>Product:</strong>
  <%=h @image.product %>
</p>

<p>
  <%= link_to "Edit", edit_image_path(@image) %> |
  <%= link_to "Destroy", @image, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", images_path %>
</p>
