.masterHeader.container_19
	%ul.menu
		%li 
			= link_to "produtos", admin_products_path
		%li 
			= link_to "designers", admin_designers_path
		%li 
			= link_to "prêmios", admin_prizes_path
		%li 
			= link_to "lojas", admin_stores_path
		%li 
			= link_to "soluções", admin_solutions_path
		%li
			= link_to "capa", admin_covers_path
		%li
			= link_to "outros", admin_languages_path
		%li
			%strong
				= link_to current_user.username, edit_user_url(current_user)
			|
			= link_to "logout", logout_url
			
	= image_tag "lumini-logo_publisher.png"
