.toolbar
	.container_6
		.header
			.grid_6.search 
				%input{:type => "text", :value => "#{t "menu.busca"}"}
			.grid_2
				= link_to "#{t "menu.luminarias"}", categories_path
			.grid_2
				= link_to "#{t "menu.lojas"}", root_path
			.grid_2
				= image_tag "lumini_logo.png"