-inside_layout 'admin' do
	.navContainer 
		%ul.categories_browser
			%li
				= link_to "lojas", "javascript://"
				%ul.with_images
					%li.more_link
						= link_to "criar novo", new_admin_store_path

					-Store.all.each do |store|
						%li
							.grid_4.rule-two.alpha
								= link_to "#{store.lang_store.first.state} #{store.lang_store.first.title}", admin_store_path(store)
								
								
	=yield